<%- include("../layouts/adminHeader") %>

<!-- Main Sidebar Container -->
<%- include("../layouts/adminAside") %>



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">All Teams</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="dashboards">Home</a></li>
              <li class="breadcrumb-item active">All Teams</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <% if (code !==undefined) { %>
          <% if (code===1) { %>
            <div class="alert alert-success" role="alert">
              <%= message %>
            </div>
          <% } else { %>
              <div class="alert alert-danger" role="alert">
            <%= message %>
              </div>
          <% } %>
        <% } %>
        <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header">
                      <h3 class="card-title">Simple Full Width Table</h3>

                      <div class="card-tools">
                          <ul class="pagination pagination-sm float-right">
                              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                          </ul>
                      </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body p-0">
                      <table class="table">
                          <thead>
                              
                              <tr>
                                  <th style="width: 10px">#</th>
                                  <th>Team Name</th>
                                  <th>Logo</th>
                                  <th>Contry Code</th>
                                  <th>Created</th>
                                  <th style="width: 80px">Label</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% if(data !== undefined){%>
                              <% data.forEach(function(teams) { %>
                              <tr>
                                  <td><input type="checkbox" name="" id=""></td>
                                  <td><%= teams.team_name %></td>
                                  <td><img src="<%= teams.logo %>" alt=""></td>
                                  <td><%= teams.country_code %></td>
                                  <td><%= teams.createdAt %></td>
                                  <td class="text-right py-0 align-middle" style="width: 80px">
                                      <div class="btn-group btn-group-sm">
                                          <a href="#" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                          <a href="#" class="btn btn-danger"><i
                                                  class="fas fa-trash"></i></a>
                                      </div>
                                  </td>

                              </tr>

                              <% }); %>
                              <% }%>
                          </tbody>
                      </table>
                  </div>
                  <!-- /.card-body -->
              </div>

              <!-- /.card -->
          </div>
      </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<%- include("../layouts/adminFooter") %>