<%- include("../layouts/adminHeader") %>

  <!-- Main Sidebar Container -->
<%- include("../layouts/adminAside") %>
<style>
    .card_cus {
      width: 100%;
    background: white;
    border: 1px solid #e3e3e3;
    text-align: center;
    margin-right: 5%;
    float: left;
    position: relative;
    margin-bottom: 40px;
}
span.real_amount {
    font-size: 22px;
    font-weight: bold;
}
.card_header_cus {
    padding: 7px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.amount {
    padding: 14px;
    font-size: 19px;
}
.card_cus p{
  font-size: 16px;
}
.accent_btn {
    background: #1976D2;
    color: white;
    letter-spacing: 0.5px;
    width: auto;
    border-radius: 50px;
    padding: 7px 17px;
    font-size: 14px;
    margin: 0 auto;
    border: 1px solid #1976D2;
    display: flex;
    column-gap: 7px;
    align-items: center;
    font-weight: 700;
}
.card_body_cus {
    padding-bottom: 15px;
}
span.cross_amount {
    text-decoration: line-through;
}

  </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Add Prediction</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="dashboards">Home</a></li>
                <li class="breadcrumb-item active">All Prediction</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <% if (code !==undefined) { %>
            <% if (code===1) { %>
              <div class="alert alert-success" role="alert">
                <%= message %>
              </div>
            <% } else { %>
                <div class="alert alert-danger" role="alert">
              <%= message %>
                </div>
            <% } %>
          <% } %>
          <div class="row">
            <!-- left column -->
            <div class="col-md-8">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Prediction Details</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="post">
                    <div class="row pl-4 pr-4">
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>Prediction Title</label>
                            <input type="text" name="title" class="form-control" required placeholder="Enter Title">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Featured Image ID</label>
                            <input type="text" name="featured_id"  class="form-control" required placeholder="Media ID Eg. 1254121215">
                          </div>
                        </div>
                      </div>

                      <div class="row pl-4 pr-4">
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>Select Category</label>
                            <select  class="form-control select2"  name="category_id" multiple style="width: 100%;" required>
                                <option value="">-- not selected --</option>
                                <% if(dataCat !== undefined){ %>
                                  <% dataCat.forEach(function(category) { %>
                                    <option value="<%= category._id %>"> <%= category.name %> </option>
                                  <% }) %>
                                <% } %>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Select Tags</label>
                            <select class="form-control select2" name="tags" multiple style="width: 100%;" required>
                                <option value="">-- not selected --</option>
                                <% if(dataTag !== undefined){ %>
                                  <% dataTag.forEach(function(tag) { %>
                                    <option value="<%= tag._id %>"> <%= tag.name %> </option>
                                  <% }) %>
                                <% } %>
                              </select>                         
                            </div>
                        </div>
                      </div>

                      <div class="row pl-4 pr-4">
                        <div class="col-sm-6">
                          <!-- text input -->
                          <div class="form-group">
                            <label>Author Name</label>
                            <select class="form-control select2" name="author_id" style="width: 100%;" required>
                                <option value="">-- not selected --</option>
                                <% if(dataAuth !== undefined){ %>
                                  <% dataAuth.forEach(function(author) { %>
                                    <option value="<%= author._id %>"> <%= author.first_name %> (<%= author.email %>) </option>
                                  <% }) %>
                                <% } %>
                              </select>                           
                            </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Fantacy ID</label>
                            <input type="text" name="fantacy_id" class="form-control"  placeholder="Fantcy Eg. 2121545455" required>
                          </div>
                        </div>
                      </div>

                      <div class="row pl-4 pr-4">
                        
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label>Active Comments</label>
                            <select name="comment_status" class="form-control" required>
                                <option value="false">No</option>
                                <option value="true">Yes</option>
                              </select>
                          </div>
                        </div>

                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                              <label>Visible</label>
                              <select name="status" class="form-control"  required>
                                  <option value="false">Daft</option>
                                  <option value="true">Publish</option>
                                </select>
                            </div>
                          </div>
                      
                      </div>

                      <div class="row pl-4 pr-4">
                        
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Short Description</label>
                            <textarea name="except"  class="form-control" rows="5" required></textarea>
                          </div>
                        </div>
                      </div>

                      <div class="row pl-4 pr-4">
                        
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label>Long Description</label>
                            <!-- <textarea name="description"  class="form-control" rows="10"></textarea> -->
                            <textarea id="summernote" row="10" name="description" style="min-height: 320px;" required>
                                Place <em>some</em> <u>text</u> <strong>here</strong>
                              </textarea>
                          </div>
                        </div>
                      </div>

                      

                   
                  <!-- /.card-body -->

                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Preview</h3>

                        <div class="card-tools">
                            <div class="form-check form-switch">
                                <select id="" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                              </div>
                        </div>
                    </div>

                    <div class="card-body p-1">
                        <table class="table">
                         
                          <tbody>
                            
                            <tr data-widget="expandable-table" aria-expanded="false">
                              <td>
                                <button type="button" class="btn btn-primary p-0">
                                  <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                </button>
                                All Fantacy
                              </td>
                            </tr>
                            <tr class="expandable-body">
                              <td>
                                <div class="p-0" style="max-height: 350px; overflow-y: scroll;">
                                  <table class="table table-hover">
                                    <tbody>
                                      <% if(dataFantacy !== undefined){%>
                                        <% dataFantacy.forEach(function(fantacy) { %>
                                        <tr>
                                            <td><%= fantacy.name %></td>
                                            <td><img src="" width="40" alt=""></td>
                                            <td></td>
                                            <td><button data-link="<%= fantacy._id %>" class="btn btn-info btn-outline button_cusom_icon"><i class="fas fa-copy"></i></button></td>
                                          
                                          </td>
                                        </tr>
            
                                        <% }); %>
                                      <% }%>
  
  
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
  
  
                            <!-- media -->
                            <tr data-widget="expandable-table" aria-expanded="false">
                              <td>
                                <button type="button" class="btn btn-primary p-0">
                                  <i class="expandable-table-caret fas fa-caret-right fa-fw"></i>
                                </button>
                                All Media
                              </td>
                            </tr>
                            <tr class="expandable-body">
                              <td>
                                <div class="p-0" style="max-height: 350px; overflow-y: scroll;">
                                  <table class="table table-hover">
                                    <tbody>
                                      <% if(dataMedia !== undefined){%>
                                        <% dataMedia.forEach(function(media) { %>
                                        <tr>
                                            <td><%= media.name %></td>
                                            <td><img src="<%= media.small_media %>" width="40" alt=""></td>
                                            <td><button data-link="<%=  media._id %>" class="btn btn-info btn-outline button_cusom_icon"><i class="fas fa-copy"></i></button></td>
                                          
                                          </td>
                                        </tr>
            
                                        <% }); %>
                                      <% }%>
  
  
                                    </tbody>
                                  </table>
                                </div>
                              </td>
                            </tr>
  
  
  
  
                          </tbody>
                        </table>
                      </div>
                </div>
            </div>

          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->




    <%- include("../layouts/adminFooter") %>