<%- include("../layouts/adminHeader") %>

  <!-- Main Sidebar Container -->
  <%- include("../layouts/adminAside") %>


  <style>
    .card_cus {
      width: 28%;
    background: white;
    border: 1px solid #e3e3e3;
    text-align: center;
    margin-right: 5%;
    float: left;
    position: relative;
    margin-bottom: 40px;
}
span.real_amount {
    font-size: 22px;
    font-weight: bold;
}
.card_header_cus {
    padding: 7px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.amount {
    padding: 14px;
    font-size: 19px;
}
.card_cus p{
  font-size: 16px;
}
.accent_btn {
    background: #1976D2;
    color: white;
    letter-spacing: 0.5px;
    width: auto;
    border-radius: 50px;
    padding: 7px 17px;
    font-size: 14px;
    margin: 0 auto;
    border: 1px solid #1976D2;
    display: flex;
    column-gap: 7px;
    align-items: center;
    font-weight: 700;
}
.card_body_cus {
    padding-bottom: 15px;
}
span.cross_amount {
    text-decoration: line-through;
}
.status1{
    position: absolute;
    right: -30px;
    top: 166px;
}
.status2{
    position: absolute;
    right: -30px;
    top: 140px;
}
td.category span {
    background: #e2e2e2;
    padding: 2px 6px;
    border-radius: 3px;
    color: #212020;
    margin-right: 5px;
    margin-bottom: 8px;
    line-height: 2rem;
}
  </style>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">All Prediction</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="dashboards">Home</a></li>
                <li class="breadcrumb-item active">All Prediction</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <% if (code !==undefined) { %>
            <% if (code===1) { %>
              <div class="alert alert-success" role="alert">
                <%= message %>
              </div>
              <% } else { %>
                <div class="alert alert-danger" role="alert">
                  <%= message %>
                </div>
                <% } %>
                  <% } %>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">Prediction Details</h3>

                            <div class="card-tools">
                              <ul class="pagination pagination-sm float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                              </ul>
                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body p-0">

                            <% if(data !== undefined){%>
                                
                                <table class="table fancy_table">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th style="width: 140px">Title</th>
                                            <th style="width: 188px">Media</th>
                                            <th>Author</th>
                                            <th style="width: 150px">Category</th>
                                            <th style="width: 150px">Tags</th>
                                            <th>Comments</th>
                                            <th>Date</th>
                                            <th>Likes</th>
                                            <th>Visible</th>
                                            <th style="width: 80px">Label</th>
                                        </tr>
                                    </thead>
                                  <% if(data !== undefined){%>
                                    <!-- <%-  typeof(data.fantacy) %> -->
                                      <!-- <%-  typeof(data.fantacy) %> -->
                                        <% data.forEach(function(blog) { %>
                                          <tr>
                                            <td><input type="checkbox" name="" id=""></td>
                                            <td ><a href="#"><strong><%= blog.title %></strong></a></td>
                                            <td>
                                                <img src="<%= blog.featured_id.small_media %>" alt="<%= blog.featured_id.name %>">
                                            </td>
                                            <td><%= blog.author_id.first_name %></td>
                                            <td class="category">
                                                <% blog.category_id.forEach(function(category) { %>
                                                    <span  style="background-color: #d7ecef;"><%= category.name %></span>
                                                <% }); %>
                                            </td>
                                            <td class="category">
                                                <% blog.tags.forEach(function(tag) { %>
                                                    <span><%= tag.name %></span>
                                                <% }); %>
                                            </td>
                                            <td>
                                                <%= blog.comment_count %>
                                                
                                            </td>
                                            <td>
                                                <%= blog.updatedAt %>
                                            </td>
                                            <td><i class="fas fa-heart"></i> 5</td>
                                            <td class="align-middle">
                                              <% if(blog.status){%>
                                                <button type="button" class="btn btn-sm btn-success">Publish</button>
                                              <% }else{ %>
                                                <button type="button" class="btn btn-sm btn-warning">Draft</button>
                                              <% } %>
                                            </td>
                                            <td class="text-right py-0 align-middle" style="width: 80px">
                                                <div class="btn-group btn-group-sm">
                                                    <a href="#" class="btn btn-info"><i class="fas fa-edit"></i></a>
                                                    <a href="#" class="btn btn-danger"><i
                                                            class="fas fa-trash"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    <% }else{ %>
                                    <p style="text-align: center;">No entries here</p>
                                  <% } %>
        
                                  </table>
                            <% }%>
                           
                          </div>
                          <!-- /.card-body -->
                        </div>

                        <!-- /.card -->
                      </div>
                    </div>
                    <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%- include("../layouts/adminFooter") %>